<!-- INCLUDE overall_header.html -->

<div style="width:900px;">

<!-- IF FB_PAGE === 'index' -->
<h2>{L_FB_FEEDBACK}&nbsp;{L_FB_MAIN}</h2>
<form action="{FB_ACTION}" method="post"{S_FORM_ENCTYPE}>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead><tr><th>{L_FB_SEARCH}</th></tr></thead>
<tbody>
<tr class="bg1">
<td>
<label>{L_USERNAME}</label>
<input class="inputbox search" type="text" style="width:300px;" class="post" name="un" />
<input class="button2" name="submit" type="submit" value="{L_SEARCH}" />
</td>
</tr>
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<table style="width:100%;">
<tr valign="top">
<td style="width:50%;">

<h2>{L_FB_BEST_USERS}</h2>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span><table class="table1" cellspacing="1">
<thead>
<tr><th style="width:15%;">{L_FB_RANK}</th><th>{L_FB_USER}</th><!-- IF FB_S_SCORE == 0 --><th style="width:19%;">{L_FB_POS}</th><th style="width:19%;">{L_FB_NEU}</th><th style="width:19%;">{L_FB_NEG}</th><!-- ELSE --><th style="width:30%;">{L_FB_SCORE}</th><!-- ENDIF --></tr>
</thead>
<tbody>
<!-- BEGIN best(1) -->
	<tr class="<!-- IF best.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->" style="text-align:center;">
	<td>{best.S_ROW_COUNT}</td>
	<td style="text-align:left;">
	<ul class="profile-icons" style="padding:0;">
	<li class="msnm-icon"><a href="{best.FB_PROFILE}" title="{L_READ_PROFILE}"><span>{L_READ_PROFILE}</span></a></li>
	</ul>
	<a href="{best.FB_LINK}" style="color:{best.FB_USER_COL}; vertical-align:middle;">{best.FB_USER}</a>
	</td>
	<!-- IF FB_S_SCORE == 0 -->
		<td><span class="positive">{best.FB_POS}</span></td>
		<td><span class="neutral">{best.FB_NEU}</span></td>
		<td><span class="negative">{best.FB_NEG}</span></td>
	<!-- ELSE -->
		<!-- IF best.FB_SCORE > 0-->
			<td><span class="positive">{best.FB_SCORE}</span></td>
		<!-- ELSEIF best.FB_SCORE == 0-->
			<td><span class="neutral">{best.FB_SCORE}</span></td>
		<!-- ELSE -->
			<td><span class="negative">{best.FB_SCORE}</span></td>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</tr>
<!-- END -->
<tr><td class="bg1" colspan="5"><a href="{FB_MOREBEST}">{L_FB_VIEWMORE}</a></td></tr>
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>

</td>
<td>

<h2>{L_FB_WORST_USERS}</h2>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span><table class="table1" cellspacing="1">
<thead>
<tr><th style="width:15%;">{L_FB_RANK}</th><th>{L_FB_USER}</th><!-- IF FB_S_SCORE == 0 --><th style="width:19%;">{L_FB_POS}</th><th style="width:19%;">{L_FB_NEU}</th><th style="width:19%;">{L_FB_NEG}</th><!-- ELSE --><th style="width:30%;">{L_FB_SCORE}</th><!-- ENDIF --></tr>
</thead>
<tbody>
<!-- BEGIN worst(1) -->
	<tr class="<!-- IF worst.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->" style="text-align:center;">
	<td>{worst.S_ROW_COUNT}</td>
	<td style="text-align:left;">
	<ul class="profile-icons" style="padding:0;">
	<li class="msnm-icon"><a href="{worst.FB_PROFILE}" title="{L_READ_PROFILE}"><span>{L_READ_PROFILE}</span></a></li>
	</ul>
	<a href="{worst.FB_LINK}" style="color:{worst.FB_USER_COL}; vertical-align:middle;">{worst.FB_USER}</a>
	</td>
	<!-- IF FB_S_SCORE == 0 -->
		<td><span class="positive">{worst.FB_POS}</span></td>
		<td><span class="neutral">{worst.FB_NEU}</span></td>
		<td><span class="negative">{worst.FB_NEG}</span></td>
	<!-- ELSE -->
		<!-- IF worst.FB_SCORE > 0-->
			<td><span class="positive">{worst.FB_SCORE}</span></td>
		<!-- ELSEIF worst.FB_SCORE == 0-->
			<td><span class="neutral">{worst.FB_SCORE}</span></td>
		<!-- ELSE -->
			<td><span class="negative">{worst.FB_SCORE}</span></td>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</tr>
<!-- END -->
<tr><td class="bg1" colspan="5"><a href="{FB_MOREWORST}">{L_FB_VIEWMORE}</a></td></tr>
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>

</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF FB_PAGE === 'show' -->
<h2>{L_FB_FEEDBACKOF}&nbsp;{FB_TOUSER}</h2>
<!-- IF FB_SCORE !== false -->
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead>
<tr><th>{L_FB_SCORE}</th><th>{L_FB_PERCENTAGE}</th></tr>
</thead>
<tbody>
<tr class="bg1" style="line-height:20px; text-align:center;">
<td style="width:50%;"><span class="<!-- IF FB_SCORE > 0 -->positive<!-- ELSEIF FB_SCORE < 0 -->negative<!-- ELSE -->neutral<!-- ENDIF -->">{FB_SCORE}</span></td>
<td style="width:50%;">{FB_PERCENTAGE}%</td>
</tr>
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<form action="{FB_ACTION}" method="post"{S_FORM_ENCTYPE}>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead>
<tr><th>{L_FB_POS}</th><th>{L_FB_NEU}</th><th>{L_FB_NEG}</th></tr>
</thead>
<tbody>
<tr class="bg1" style="line-height:20px; text-align:center;">
<td style="width:33%;"><span class="positive">{FB_POS}</span></td>
<td style="width:34%;"><span class="neutral">{FB_NEU}</span></td>
<td style="width:33%;"><span class="negative">{FB_NEG}</span></td>
</tr>
<tr class="bg2" style="text-align:center;">
<td colspan="3">
<input class="button2" type="submit" value="{L_FB_ADD}" />
</td>
</tr>
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<h3 class="right-box">
{L_FB_FILTER}:&nbsp;
<a href="{FB_FILTER_ALL}#fb_details">{L_FB_FILTER_ALL}</a>&nbsp;|&nbsp;
<a href="{FB_FILTER_POS}#fb_details">{L_FB_FILTER_POS}</a>&nbsp;|&nbsp;
<a href="{FB_FILTER_NEU}#fb_details">{L_FB_FILTER_NEU}</a>&nbsp;|&nbsp;
<a href="{FB_FILTER_NEG}#fb_details">{L_FB_FILTER_NEG}</a>
</h3>
<!-- IF FB_S_ROLE -->
<h3 class="right-box" style="margin-right:20px;">
{L_FB_ROLE}:&nbsp;
<a href="{FB_ROLE_ALL}#fb_details">{L_FB_ROLE_ALL}</a>&nbsp;|&nbsp;
<a href="{FB_ROLE_BUYER}#fb_details">{L_FB_ROLE_BUYER}</a>&nbsp;|&nbsp;
<a href="{FB_ROLE_SELLER}#fb_details">{L_FB_ROLE_SELLER}</a>&nbsp;|&nbsp;
<a href="{FB_ROLE_TRADE}#fb_details">{L_FB_ROLE_TRADE}</a>
</h3>
<!-- ENDIF -->
<a name="fb_details"></a>
<h2>{L_FB_DETAILS}</h2>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead>
<tr>
<th>{L_FB_FROM} <a href="{FB_ORDER_FROMA}">[&and;]</a><a href="{FB_ORDER_FROMD}">[&or;]</a></th>
<!-- IF FB_SHOWIP -->
	<th>{L_FB_IP} <a href="{FB_ORDER_IPA}">[&and;]</a><a href="{FB_ORDER_IPD}">[&or;]</a></th>
<!-- ENDIF -->
<th>{L_FB_ONDATE} <a href="{FB_ORDER_DATEA}">[&and;]</a><a href="{FB_ORDER_DATED}">[&or;]</a></th>
<!-- IF FB_S_ROLE --><th>{L_FB_ROLE}</th><!-- ENDIF -->
<th>{L_FB_FEEDBACK}</th>
<th>{L_FB_COMMENT}</th>
</tr>
</thead>
<tbody>
<!-- IF not .feedback -->
	<tr class="bg1"><td <!-- IF FB_SHOWIP && FB_S_ROLE -->colspan="6"<!-- ELSEIF FB_SHOWIP || FB_S_ROLE -->colspan="5"<!-- ELSE -->colspan="4"<!-- ENDIF -->>{L_FB_NOFOUND}</td></tr>
<!-- ELSE -->
	<!-- BEGIN feedback -->
		<tr class="<!-- IF feedback.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td style="width:200px;">
		<ul class="profile-icons" style="padding:0;">
		<li class="msnm-icon"><a href="{feedback.FB_PROFILE}" title="{L_READ_PROFILE}"><span>{L_READ_PROFILE}</span></a></li>
		</ul>
		<!-- IF FB_S_LINK && feedback.FB_LINK -->
		<a href="{feedback.FB_LINK}" title="{L_TOPIC}">{ATTACH_ICON_IMG}</a>
		<!-- ENDIF -->
		<a href="{feedback.FB_URL}" style="color:{feedback.FB_USER_COL}; vertical-align:middle;">{feedback.FB_USER}</a>
		</td>
		<!-- IF FB_SHOWIP -->
			<td>{feedback.FB_IP}</td>
		<!-- ENDIF -->			
		<td style="width:80px; text-align:center;">{feedback.FB_DATE}</td>
		<!-- IF FB_S_ROLE -->
			<td style="width:80px; text-align:center;">{feedback.FB_ROLE}</td>
		<!-- ENDIF -->
		<td style="width:80px; text-align:center;">{feedback.FB_VOTE}</td>
		<td>
		<!-- IF feedback.FB_DELETE -->
			<ul class="profile-icons" style="float:{S_CONTENT_FLOW_END}; padding:0;">
			<li class="delete-icon"><a href="{feedback.FB_DELETEURL}" title="{L_FB_DELETE}"><span>{L_FB_DELETE}</span></a></li>
			</ul>
		<!-- ENDIF -->
		<!-- IF feedback.FB_EDIT -->
			<ul class="profile-icons" style="float:{S_CONTENT_FLOW_END}; padding:0;">
			<li class="edit-icon"><a href="{feedback.FB_EDITURL}" title="{L_FB_EDIT}"><span>{L_FB_EDIT}</span></a></li>
			</ul>
		<!-- ENDIF -->
		{feedback.FB_COMMENT}
		</td>
		</tr>
	<!-- END -->
<!-- ENDIF -->
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF FB_PAGE === 'add' -->
<h2>{L_FB_ADD}</h2>
<form action="{FB_ACTION}" method="post"{S_FORM_ENCTYPE}>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span><table class="table1" cellspacing="1">
<tr class="bg1">
<td style="width:200px">{L_USERNAME}</td>
<td>{FB_TOUSER}</td>
</tr>
<!-- IF FB_S_ROLE -->
<tr class="bg1">
<td>{L_FB_ROLE}</td>
<td>
<input type="radio" class="radio" name="role" value="1" />
<span class="genmed"><span class="buyer">{L_FB_BUYER}</span></span>
<input type="radio" class="radio" name="role" value="2" />
<span class="genmed"><span class="seller">{L_FB_SELLER}</span></span>
<input type="radio" class="radio" name="role" value="0" checked="checked" />
<span class="genmed"><span class="trade">{L_FB_TRADE}</span></span>
</td>
</tr>
<!-- ENDIF -->
<tr class="bg1">
<td>{L_FB_FEEDBACK}</td>
<td>
<input type="radio" class="radio" name="vote" value="0" />
<span class="genmed"><span class="negative">{L_FB_NEG}</span></span>
<input type="radio" class="radio" name="vote" value="2" checked="checked" />
<span class="genmed"><span class="neutral">{L_FB_NEU}</span></span>
<input type="radio" class="radio" name="vote" value="1" />
<span class="genmed"><span class="positive">{L_FB_POS}</span></span>
</td>
</tr>
<!-- IF FB_S_LINK -->
<tr class="bg1">
<td style="width:100px;"><!-- IF FB_S_LINK_FORCE -->{L_FB_LINK}<!-- ELSE -->{L_FB_LINKOPT}<!-- ENDIF --></td>
<td><input class="inputbox tiny" name="link" type="text" maxlength="8" value="{FB_LINK}" /></td>
</tr>
<!-- ENDIF -->
<tr class="bg1">
<td><!-- IF FB_S_COMM_OPT -->{L_FB_COMMENTOPT}<!-- ELSE -->{L_FB_COMMENT}<!-- ENDIF --></td>
<td><textarea name="comment" rows="5" cols="50"></textarea></td>
</tr>
<tr class="bg2">
<td></td>
<td>
{FB_HIDDEN}{S_FORM_TOKEN}<input class="button2" name="submit" type="submit" value="{L_FB_ADD}" />
</td>
</tr>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- ENDIF -->

<!-- IF FB_PAGE === 'edit' -->
<h2>{L_FB_EDIT}</h2>
<form action="{FB_ACTION}" method="post"{S_FORM_ENCTYPE}>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<tr class="bg1">
<td style="width:200px">{L_USERNAME}</td>
<td>{FB_TOUSER}</td>
</tr>
<!-- IF FB_S_ROLE -->
<tr class="bg1">
<td>{L_FB_ROLE}</td>
<td>
<input type="radio" class="radio" name="role" value="1"<!-- IF FB_ROLE == 1 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="buyer">{L_FB_BUYER}</span></span>
<input type="radio" class="radio" name="role" value="2"<!-- IF FB_ROLE == 2 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="seller">{L_FB_SELLER}</span></span>
<input type="radio" class="radio" name="role" value="0"<!-- IF FB_ROLE == 0 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="trade">{L_FB_TRADE}</span></span>
</td>
</tr>
<!-- ELSE -->
<input type="hidden" name="role" value="{FB_ROLE}" />
<!-- ENDIF -->
<tr class="bg1">
<td>{L_FB_FEEDBACK}</td>
<td>
<input type="radio" class="radio" name="vote" value="0"<!-- IF FB_VOTE == 0 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="negative">{L_FB_NEG}</span></span>
<input type="radio" class="radio" name="vote" value="2"<!-- IF FB_VOTE == 2 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="neutral">{L_FB_NEU}</span></span>
<input type="radio" class="radio" name="vote" value="1"<!-- IF FB_VOTE == 1 --> checked="checked"<!-- ENDIF --> />
<span class="genmed"><span class="positive">{L_FB_POS}</span></span>
</td>
</tr>
<!-- IF FB_S_LINK -->
<tr class="bg1">
<td style="width:100px;"><!-- IF FB_S_LINK_FORCE -->{L_FB_LINK}<!-- ELSE -->{L_FB_LINKOPT}<!-- ENDIF --></td>
<td><input class="inputbox tiny" name="link" type="text" maxlength="8" value="{FB_LINK}" /></td>
</tr>
<!-- ENDIF -->
<tr class="bg1">
<td><!-- IF FB_S_COMM_OPT -->{L_FB_COMMENTOPT}<!-- ELSE -->{L_FB_COMMENT}<!-- ENDIF --></td>
<td><textarea name="comment" rows="5" cols="50">{FB_COMM}</textarea></td>
</tr>
<tr class="bg2">
<td></td>
<td>
{FB_HIDDEN}{S_FORM_TOKEN}<input class="button2" name="submit" type="submit" value="{L_FB_EDIT}" />
</td>
</tr>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- ENDIF -->

<!-- IF FB_PAGE === 'best' -->
<h2>{L_FB_FEEDBACK} {L_FB_BEST_USERS}</h2>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1">
<thead>
<tr><th>{L_FB_RANK}</th><th>{L_FB_USER}</th><!-- IF FB_S_SCORE == 0 --><th>{L_FB_POS}</th><th>{L_FB_NEU}</th><th>{L_FB_NEG}</th><!-- ELSE --><th>{L_FB_SCORE}</th><!-- ENDIF --></tr>
</thead>
<tbody>
<!-- BEGIN best(1) -->
	<tr class="<!-- IF best.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->" style="text-align:center;">
	<td>{best.S_ROW_COUNT}</td>
	<td style="text-align:left;">
	<ul class="profile-icons" style="padding:0;">
	<li class="msnm-icon"><a href="{best.FB_PROFILE}" title="{L_READ_PROFILE}"><span>{L_READ_PROFILE}</span></a></li>
	</ul>
	<a href="{best.FB_LINK}" style="color:{best.FB_USER_COL}; vertical-align:middle;">{best.FB_USER}</a>
	</td>
	<!-- IF FB_S_SCORE == 0 -->
		<td><span class="positive">{best.FB_POS}</span></td>
		<td><span class="neutral">{best.FB_NEU}</span></td>
		<td><span class="negative">{best.FB_NEG}</span></td>
	<!-- ELSE -->
		<!-- IF best.FB_SCORE > 0-->
			<td><span class="positive">{best.FB_SCORE}</span></td>
		<!-- ELSEIF best.FB_SCORE == 0-->
			<td><span class="neutral">{best.FB_SCORE}</span></td>
		<!-- ELSE -->
			<td><span class="negative">{best.FB_SCORE}</span></td>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</tr>
<!-- END -->
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF FB_PAGE === 'worst' -->
<h2>{L_FB_FEEDBACK} {L_FB_WORST_USERS}</h2>
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span><table class="table1" cellspacing="1">
<thead>
<tr><th>{L_FB_RANK}</th><th>{L_FB_USER}</th><!-- IF FB_S_SCORE == 0 --><th>{L_FB_POS}</th><th>{L_FB_NEU}</th><th>{L_FB_NEG}</th><!-- ELSE --><th>{L_FB_SCORE}</th><!-- ENDIF --></tr>
</thead>
<tbody>
<!-- BEGIN worst(1) -->
	<tr class="<!-- IF best.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->" style="text-align:center;">
	<td>{worst.S_ROW_COUNT}</td>
	<td style="text-align:left;">
	<ul class="profile-icons" style="padding:0;">
	<li class="msnm-icon"><a href="{worst.FB_PROFILE}" title="{L_READ_PROFILE}"><span>{L_READ_PROFILE}</span></a></li>
	</ul>
	<a href="{worst.FB_LINK}" style="color:{worst.FB_USER_COL}; vertical-align:middle;">{worst.FB_USER}</a>
	</td>
	<!-- IF FB_S_SCORE == 0 -->
		<td><span class="positive">{worst.FB_POS}</span></td>
		<td><span class="neutral">{worst.FB_NEU}</span></td>
		<td><span class="negative">{worst.FB_NEG}</span></td>
	<!-- ELSE -->
		<!-- IF worst.FB_SCORE > 0-->
			<td><span class="positive">{worst.FB_SCORE}</span></td>
		<!-- ELSEIF worst.FB_SCORE == 0-->
			<td><span class="neutral">{worst.FB_SCORE}</span></td>
		<!-- ELSE -->
			<td><span class="negative">{worst.FB_SCORE}</span></td>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</tr>
<!-- END -->
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="copyright" style="text-align:right;">ShMk User Feedback &copy; 2009 <a href="http://www.shockmaker.com">ShockMaker</a></div>

</div>

<!-- INCLUDE overall_footer.html -->